<!doctype html>
<html>
<head>
	<include("../_partials/head.marko") />
	<title>
		<if(data.name)>${data.name}</if>
		<layout-placeholder name="title" else/>
	</title>
	<layout-placeholder name="head"/>
	<link href="/css/layout/header.css" rel="stylesheet" type="text/css"/>
	<link href="/css/modules/sidebar.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<include("../_partials/sidebar.marko") active=(data.name || data.this)>
		<layout-placeholder name="sidebar"/>
	</include>
	<header class="banner">
		<layout-placeholder name="banner"/>
		<span class="user-button">${data.user || 'John Doe'}</span>
	</header>
	<main class="main">
		<layout-placeholder name="content"/>
	</main>
</body>
</html>