.inline {display: inline-block}

.left {float: left}
.right {float: right}
.clear {clear:both}

.rel {position: relative}

.circle.hover-light::before,
.circle 
{border-radius: 50%}

@import 'utils/color.css';

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--dark-primary);
	background-color: var(--light-gray);
	margin: 0;
}

h1, h2, h3 {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

hr {
	border-width: 1px 0 0 0;
	border-color: var(--dark-divider);
}

input, button {
	background: none;
	border: 0;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}
