@import '../utils/color.css';
@import '../utils/z-index.css';

main {
	margin: 3.15em 0 0 10em;
}

.banner {
	line-height: 3.15rem; /* Height of banner */
	background: var(--white-primary);
	position: fixed;
	top: 0;
	left: 10em;
	width: calc(100% - 10em);
}

.user-button {
	margin: 0 2em;
}

.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 10rem; /* Height of sidebar */
	line-height: 2em;
	background: var(--very-light);
}

.nav-list-primary,
.nav-active {
	font-size: 1.25em;
	padding-top: 2.5em;
	line-height: 2.5em;
	position: absolute;
z-index: var(--z-nav-primary);
}

.nav-list-primary {
	background: var(--white-primary);
	transition: transform 0.3s ease;
	width: 100%;
	transform: translate3d(0, -10em, 0);
	box-shadow: 0 0.1em 0.2em var(--dark-secondary);
}

.nav-list-secondary {
	width: 100%;
	margin: 3.65em 0 0.5em;
}

.nav-list-extra { 
	padding-top: 0.5em;
	background: var(--light-gray)
}

.nav-link.nav-active {
	position: absolute;
	z-index: var(--z-nav-heading);
}

.nav-list-primary:hover,
.nav-active:hover + .nav-list-primary {
	transform: translate3d(0,0,0);
}