@import '../utils/color.css';

.banner {
	line-height: 3.15em;
	background: var(--white-primary);
	position: fixed;
	top: 0;
	left: 10em;
	width: calc(100% - 10em);
}

.user-button {
	margin: 0 2em;
}

.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 10em;
	line-height: 2em;
	background: var(--very-light);
}

.nav-list-primary {
	font-size: 1.25em;
	padding-top: 2.5em;
	line-height: 2.5em;
	background: var(--white-primary);
	position: relative;
	z-index: 1;
	visibility: hidden;
}

.nav-list-secondary {
	position: absolute;
	top: 3.15em;
	width: calc(100% - 1em);
	margin: 0.5em 0 0 1em;
}

.nav-list-extra {
	padding-top: 0.5em;
	background: var(--light-gray)
}

.nav-link.nav-active {
	visibility: visible;
	position: absolute;
	left: 0;
	top: 0;
}

.nav-return:hover + .nav-list-primary,
.nav-list-primary:hover {
	visibility: visible;
}