@import '../utils/color.css';

.banner {
	line-height: 2.5em;
	background: var(--white-primary);
	position: fixed;
	top: 0;
	left: 10em;
}

.user-button {
	margin: 0 2em;
}

.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 10em;
	line-height: 2em;
}

.nav-list-primary {
	font-size: 1.25em;
	padding-top: 2.5em;
	line-height: 2.5em;
}

.nav-list-secondary {
	position: absolute;
	top: 0;
}

.nav-list-extra {
	padding-top: 0.5em;
	background: var(--light-gray)
}

.nav-link.nav-active {
	position: absolute;
	left: 0;
	top: 0;
}