.google-map,
.crop-info {
	vertical-align: top;
	display: inline-block;
}

.google-map {
	margin: 2em 1.5em 3em;
	height: calc(100vh - 8.15rem);
	width: calc(100% - 23rem);
	background: gray;
} 

.map-aside {
	margin: 1em 0;
	width: 18.5em;
	background: var(--white-secondary);
	display: inline-block;
}

.buttons-half .i-button {
	width: calc(50% - 1em);
	margin: 0.5em;
}

.form-divided {
	padding-top: 0.75em;
	margin: 0.75em 1.5em 1.5em;
	border-top: 0.0625em solid var(--dark-divider);
	text-align: center;
}

.footer-button {
	padding-bottom: 2.25em;
}

.angle-field {
	width: calc(100% - 3.5em);
	display: inline-block;
}

.angle-indicator {
	display: inline-block;
	width: 3em;
	height: 3em;
	vertical-align: bottom;
	margin-bottom: 8px;
	margin-left: .5em;
	background: white;
}
.angle-indicator-dial {
	width: 1.5em;
	height: 0.2em;
	background: var(--dark-secondary);
	border-top-right-radius: 0.1em;
	border-bottom-right-radius: 0.1em;
	transform-origin: left center;
	margin: 1.4em 0 1.4em 1.5em;
	transition: transform 0.1s ease;
}

.folding-cube {
	width: 1.5em;
	height: 1.5em;
	position: relative;
	transform: rotateZ(45deg);
	margin: 0.35em;
	float: left;
}
.f-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
}
.f-cube::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--primary-color);
	transform-origin: 100% 100%;
	animation: foldCube 2.4s infinite linear both;
}

@keyframes foldCube {
	0%, 10% {
		transform: perspective(8.75em) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		transform: perspective(8.75em) rotateX(0deg);
		opacity: 1;
	} 90%, 100% {
		transform: perspective(8.75em) rotateY(180deg);
		opacity: 0;
	}
}

.f-cube2 {transform: scale(1.1) rotateZ(90deg)}
.f-cube3 {transform: scale(1.1) rotateZ(180deg)}
.f-cube4 {transform: scale(1.1) rotateZ(270deg)}
.f-cube2::before {animation-delay: 0.3s}
.f-cube3::before {animation-delay: 0.6s}
.f-cube4::before {animation-delay: 0.9s}