<link href='section-banner.css' rel='stylesheet'>
<header class='section-banner' role='toolbar'>
	<!-- Subheader title -->
	<nav class='banner-breadcrumbs'>

		<a class='banner-breadcrumb' href='/{{ LINK }}'>
			<h1 class='title banner-header'>{{ NAME }}</h1>
		</a>

		<i class='material-icons breadcrumb-icon'>keyboard_arrow_right</i>
		<a class='banner-breadcrumb' href='/{{ LINK }}/{{ SUBLINK }}'>
			<h1 class='title banner-header'>{{ SUBPAGE_NAME }}</h1>
		</a>

		<!-- etc -->
	</nav>

	<!-- Toolbar buttons and other items go here -->
</header>