.invoice {
	width: 960px;
	max-width: 85%;
	margin: 0 auto;
}

.internal-data {
	margin: 1em;
}

.row::after {
	content: '';
	display: table;
	clear: both;
}
.left {float: left} .right {float: right; margin-left: 1em}

.invoice-details {
	display: table;
	border: 1px solid #212121;
	text-align: right;
}
label.details-row {
	display: table-row;
}
.detail-cell {
	display: table-cell;
	border: 1px solid #212121;
	padding: 0.25em 0.5em;
	text-align: inherit;
	border-radius: 0;
}
.detail-header {
	text-align: left;
	font-weight: bold;
	background: lightgray;
}

.invoice-table-input {
	border-radius: 0;
	border-bottom: 1px dotted;
}
.invoice-table-input:focus {
	border-bottom-style: solid;
}

.invoice-table {
	width: 100%;
}