:root {
	--brand-primary: rgb(59, 166, 72);
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	color: rgba(0, 0, 0, 0.87);
}

.material-icons, 
.sort::before {
	font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.87); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

main, .main {
	padding: 0 1em;
	margin: 0 auto;
}

/* Buttons */

button, .button, 
input[type="button"], input[type="submit"] {
	background: none;
	border: 1px solid #bbb;
	padding: 0.5em 1.75em;
	border-radius: 0.15em;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #555;
}

button:hover, .button:hover,
input[type="button"]:hover, input[type="submit"]:hover {
	/*background: rgba(0,0,0, 0.1);*/
	color: #333;
	border-color: #888;
}

.button-primary, input.button-primary {
	background: var(--brand-primary);
	border-color: var(--brand-primary);
	color: white;
}

.button-primary:hover, input.button-primary:hover {
	color: white;
	border-color: var(--brand-primary);
	background: #349340;
}

.icon-button {
	cursor: pointer;
	border-radius: 50%;
	padding: 0.15em;
}

.icon-button:hover {
	background: rgba(0,0,0,0.1);
}

a {
	text-decoration: none;
	color: inherit;
}

/* Headings */

h1, h2,
.header, .subheader {
	margin: 0; 
	line-height: 1.25em;
	font-weight: 200;
}

h1, .header {
	font-size: 2.8em;
}

h2, .subheader {
	font-size: 2.125em;
}

h3, h4, h5, h6,
.title, .subtitle, .subtitle-alt, .caption {
	line-height: 1.2em;
	font-weight: 400;
	margin: 0;
}

h3, .title {
	font-size: 1.5em;
}

h4, .subtitle {
	font-size: 1.25em;
}

h5, .subtitle-alt {
	font-size: 1.125em;
}

h6, .caption {
	font-size: 0.8125em;
}

/* Forms */

.full-width {
	width: 100%;
	box-sizing: border-box;
}

label:not(.material-icons), legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="text"], 
input[type="tel"], 
input[type="url"], 
input[type="password"], 
textarea,
select {
	height: 2.375em;
	padding: 0.4em 0.6em;
	background: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 0.15em;
}

input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="url"]:focus, 
input[type="password"]:focus, 
textarea:focus,
select:focus {
	border-color: #888;
	outline: 0;
}

.label-body {
	font-weight: normal;
	display: inline-block;
	margin-left: .5em;
}

/* Table */

table {
	border-spacing: 0;
}

tr:hover, tr.checked {
	background: #eee;
}

thead > tr:hover, thead > tr.checked {
	background: transparent;
}

td, th {
	padding: 0.75em 1em;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

td:first-child, th:first-child {
	padding-left: 0;
}

td:last-child, th:last-child {
	padding-right: 0;
}

th {
	opacity: 0.9;
}

th.sort, th:hover {
	opacity: 1;
	cursor: pointer;
}

.sort {
	position: relative;
	padding-left: 2.5em;
}

.sort:first-child {
	padding-left: 1.5em;
}

.sort::before {
	/* 
		Made absolute so that the loading font icon
		won't cause visible table reflow once it loads
	 */
	position: absolute;
	font-size: 18px;
	vertical-align: middle;
	left: 1em;
}

.sort:first-child::before {
	left: 0;
}

.ascending::before {
	content: 'arrow_upward';
}

.descending::before {
	content: 'arrow_downward';
}