.full-width {
	width: 100%;
	box-sizing: border-box;
}

label:not(.material-icons), legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

.label-body {
	font-weight: normal;
	display: inline-block;
	margin-left: .5em;
}

input
textarea,
select {
	padding: 0.4em 0.6em;
	background: #fff;
	border: 1px solid #d1d1d1;
	border-radius: var(--rounding);
	text-align: inherit;
}

input:focus 
textarea:focus,
select:focus {
	border-color: #888;
	outline: 0;
}