.arrow::after {
	content: '^';
	display: block;
	font-weight: bold;
}
.left-arrow::after {transform: rotateZ(-90deg) translateY(0.05em)}
.right-arrow::after {transform: rotateZ(90deg) translateY(0.05em)}

.arrow {
	width: 2em;
	height: 2em;
	position: absolute;
	top: -0.3em;
}
.left-arrow {left: 1em;}
.right-arrow {right: 1em}