.nav-link {
	display: block;
	position: relative;
}

.nav-link::before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	background: var(--dark-divider);
	transition: opacity 0.1s ease;
	opacity: 0;
}
.nav-link:hover::before,
.nav-active::before {
	opacity: 1;
}

.nav-active::before {
	height: calc(100% - 0.125rem);
	border-bottom: 0.125rem solid var(--dark-divider);
}

.nav-link,
.nav-link::before {
	padding: 0 1em;
	width: calc(100% - 2em);
}

.nav-color::before {
	background: var(--primary-color);
	color: var(--white-primary);
	content: attr(data-name);
}

.nav-active::after {
	content: '\02c6';
	position: absolute;
	font-size: 2em;
	height: .7em;
	right: .5em;
	top: .25em;
	transform: rotate3d(0,0,-1,180deg);
	color: var(--white-hint);
}