.text-field {
	padding: 2.5em 0 1em;
	position: relative;
	line-height: 1em;
}

.text-field-label,
.text-field-label::after,
.floating-label {
	position: absolute;
}
.text-field-label {
	top: 16px; 
	left: 0.1em;
	font-size: 0.75em;
}

.text-field-label::after {
	content: attr(data-text);
	color: var(--primary-color);
	transition: opacity 0.1s ease;
	visibility: visible;
	opacity: 0;
	left: 0;
}
.text-field-floating[data-focus] .text-field-label,
.text-field-label-focus::after {opacity: 1;}

.floating-label {
	transform-origin: left top;
	cursor: text; top: auto; left: auto;
	transition: transform 0.1s ease, visibility 0.1s ease;
	font-size: inherit;
}
.floating-label.text-field-label-focus {
	transform: scale(0.75) translate(0.1em, -1.9em);
}

.text-field-input {
	display: block;
	height: 1em;
	width: 100%;
}
.text-field-input:focus {
	outline: none;
}

.text-field-border,
.text-field-border::after {
	content: '';
	left: 0.1em; right: 0.1em;
	position: absolute;
	border-width: 0;
}
.text-field-border {
	bottom: 8px;
	border-color: var(--dark-divider);
	border-bottom-width: 0.0625em;
	border-style: solid;
}
.text-field-border::after {
	border-bottom-width: 0.15em;
	border-style: inherit;
	border-color: var(--primary-color);
	transform-origin: 0.5em center;
	transform: scaleX(0);
	transition: transform 0.1s ease;
}
.text-field-input:focus + .text-field-border::after {
	transform: scaleX(1);
}

.text-field-input:disabled + .text-field-border {
	border-style: dotted;
}

.text-field-suffix {
	position: absolute;
	right: 1.25em;
	bottom: 1em;
}