<layout-use("../_layouts/default.marko") this='Planning' sticky>
<layout-put into="title">Planning</layout-put>
<layout-put into="head">		
		<script>System.import()</script>
	</layout-put>
<layout-put into="content">
	<link href="/css/layout/calendar.css" rel="stylesheet" type="text/css"/>
		<link href="/css/modules/icon-button.css" rel="stylesheet" type="text/css">
		<link href="/css/modules/arrow.css" rel="stylesheet" type="text/css">
	<div id='main'>
		
	</div>
</layout-put>
</layout-use>