<!doctype html>
<html>
<head>
	{{> head}}
	{{> test}}
	<link href='/css/core/form.css' rel='stylesheet'>

	<style>
		.customer-data {margin-bottom: 3em}
		.extra-notes {float: right}
		.dates .label-body {width: 7em; margin: 0}
	</style>

	<script>
		const tooltip = new Map([
			['item', {title: 'Item'}],
			['description', {title: 'Description'}],
			['unitCost', {title: 'Unit Cost ($)'}],
		])
	</script>
</head>
<body>
	{{> app-banner}}
	{{> section-banner breadcrumbs}}
	<form class='main'>
		<header>
			<div class='extra-notes'>
				<label for='channel'>Channel</label>
				<select id='channel'>
					<option>Restaurant</option>
					<option>CSA</option>
				</select>

				<label for='notes'>Notes</label>
				<textarea id='notes'></textarea>
			</div>

			<div class='customer-data'>
				<label for='customer-name'>Customer</label>
				<input type='text' id='customer-name' placeholder='John Smith'>
			</div>

			<div class='dates'>
				<label>
					<span class='label-body'>Order Date</span>
					<input type='date'>
				</label>

				<label>
					<span class='label-body'>Delivery Date</span>
					<input type='date'>
				</label>
			</div>
		</header>

		<link href='/css/core/table.css' rel='stylesheet'>
		<div id='app-mount'></div>
	</form>
</body>
</html>