.angle-indicator {
	display: inline-block;
	width: 3em;
	height: 3em;
	background: white;
}
.angle-indicator-dial {
	width: 1.5em;
	height: 0.2em;
	margin: 1.4em 0 1.4em 1.5em;
	background: var(--accent-color);
	border-top-right-radius: 0.1em;
	border-bottom-right-radius: 0.1em;
	transform-origin: left center;
	transition: transform 0.1s ease;
}